@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --dark-cyan: hsl(185, 75%, 39%);
    --dark-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    /* background-position: left -300px top -500px, left 750px bottom -600px; */
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
    background-repeat: no-repeat no-repeat;
    background-color: var(--dark-cyan);
    font-family: Kumbh Sans;
    margin: 0 auto;
}



header img{
    border-radius: 15px 15px 0 0;
    position: relative;
    
}

.card{
    background-color: white;
    width: 350px;
    margin: 0 auto;
    border-radius: 15px;
    height: 430px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5)

 
}

.photo{
    position: absolute;
    left: 50%;
    top:25%;
    translate: -50% 50%;
    /* left: 50%;
    /* bottom:0; */
    /* top:25%;
    translate: -50% 50%; */ 
}

.profile img{
    border-radius: 50%;
    border: 5px solid white;
    
}

.content{
    margin-top: 70px;
}

.content span{
    font-weight: 400;
    color: var(--dark-gray);
    margin-left: 10px;
}

.content p{
    margin-top: 10px;
    margin-bottom: 25px;
    color: var(--dark-gray);
}

footer{
    border-top: 0.7px solid var(--dark-gray);
}

.numbers{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.number-content h2{
    font-size: 22px;
}

.number-content p{
    color: var(--dark-gray);
    margin-top: 5px;
    font-size: small;
}
